#navigation {
	border-bottom: 1px solid #ebebeb;
}

#headline {
	font-size: 5em;
	font-weight: bold;
	line-height: 1.1;
	margin-bottom: 0.3em;
}

#main-text {
	color: #5b5e6d;
	font-size: 1.4em;
	text-align: justify;
	margin-bottom: 1em;
}

.text {
	color: #5b5e6d;
	font-size: 1.4em;
}

.arm {
	animation-name: move_hand;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	transform-origin: 0 80%;
	animation-delay: 2s;
}

@-webkit-keyframes move_hand {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(3deg);
		transform: rotate(3deg);
	}
	to {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

@-webkit-keyframes move_flashlight {
	from {
		-webkit-transform: rotate(-1deg);
		transform: rotate(-1deg);
	}
	50% {
		-webkit-transform: rotate(1deg);
		transform: rotate(1deg);
	}
	to {
		-webkit-transform: rotate(-1deg);
		transform: rotate(-1deg);
	}
}

@media screen and (max-width: 768px) {
	#detective {
		max-width: 250px;
		display: block;
		margin: 0 auto;
	}
}

#content {
	min-height: 400px;
}

.box .picture {
	display: block;
	margin: 0 auto;
	font-size: 60px;
	text-align: center;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background: hsl(204, 86%, 53%);
	color: white;
	margin-bottom: 0.3em;
	overflow: hidden;
}

.box .picture svg {
	transform: scale(0.8);
}

.box .text {
	text-align: center;
}