{% extends "base.html" %}
{% block content %}
{% if current_user.is_authenticated %}
	<div class="columns">
		<div class="column">

		{% for searcher in searchers %}
		<div class="card" style="margin-bottom: 1em;">
			
			<header class="card-header">
				<p class="card-header-title">Searcher for {{ searcher.q }}</p>
			</header>
			
			<div class="card-content">
				<div class="content">
					<div class="columns is-multiline">
					{% for ad in searcher.foundAds[0:10] %}
						<div class="column">
							<a href="{{ ad.url }}">
								<img src="{{ ad.image }}" style="width: 128px; max-width: 128px; height: 128px; object-fit: cover;">
							</a>
						</div>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{% endfor %}

		</div>
		<div class="column is-one-third">
			<nav class="panel">
				<div class="panel-heading">
					Searchers
					<a href="add" class="button is-small is-info is-pulled-right">
						<span class="icon"><i class="fas fa-plus"></i></span>
						<span>Add new</span>
					</a>
				</div>
				
				<p class="panel-tabs">
					<a class="is-active">Bolha</a>
				</p>

				{% for searcher in searchers %}
					<a href="{{ searcher.getUrl() }}" target="_blank" class="panel-block">
						<span class="panel-icon"><i class="fas fa-search"></i></span>
						<span>{{ searcher.q }}</span>
					</a>
				{% endfor %}

			</nav>
		</div>
	</div>
{% else %}
	<h1>Log in to proceed.</h1>
{% endif %}
{% endblock %}