{% extends "base.html" %}
{% block content %}
{% if current_user.is_authenticated %}
	<div class="columns">
		<div class="column">
			<h2>Last found ads</h2>
			{% for ad in current_user.unsentAds %}
				<div class="ad">{{ ad.title }}</div>
			{% endfor %}
		</div>
		<div class="column">
			<nav class="panel">
				<div class="panel-heading">
					Searchers
					<a href="add" class="button is-small is-info is-pulled-right">
						<span class="icon"><i class="fas fa-plus"></i></span>
						<span>Add new</span>
					</a>
				</div>
				
				<p class="panel-tabs">
					<a class="is-active">Bolha</a>
				</p>

				{% for searcher in searchers %}
					<a href="{{ searcher.getUrl() }}" target="_blank" class="panel-block">
						<span class="panel-icon"><i class="fas fa-search"></i></span>
						<span>{{ searcher.q }}</span>
					</a>
				{% endfor %}

			</nav>
		</div>
	</div>
{% else %}
	<h1>Log in to proceed.</h1>
{% endif %}
{% endblock %}